<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macroid.layouts"
    android:versionCode="10"
    android:versionName="2.0.3">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"/>

    <application
        android:label="Digging Macroid"
        android:icon="@drawable/android:star_big_on"
        android:theme="@style/AppTheme">

        <activity
          android:label="Digging Macroid"
          android:name="com.macroid.layouts.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>